<%- include("./templates/head")%>
<body>
	<%- include("./templates/nav")%>
	<%- include("./templates/infoindex")%>

	<script src="https://kit.fontawesome.com/54d3483a2b.js" crossorigin="anonymous"></script>
</body>
</html>