<!DOCTYPE html>
<html>
<head>
	<title><%= title%></title>
	<!-- Estilos -->
	<link rel="shortcut icon" href="./images/icon.jpeg" />
	<style>
		@import url("main.css");
		@import url("nav.css");
		@import url("info.css");
		@import url("info2.css");
	</style>
</head>
