<div class="info">
	<h1> Bienvenido </h1>
	<section class="data">
		<p> Esta es una página hecha con Node.js, estoy aprendiendo a usar el conocido Framework Node.js, espero te guste, por aquí te dejo mi enlace de Github para que sigas visitando mis projectos. </p>
			<br />
		<a href="https://github.com/On3l7d15h"><i class="fab fa-github-square"></i></a>
	</section>
	<section class="img">
		<img src="./images/node.png" />
	</section>
</div>